:root {
  --black: #513b7b;
  --green: #51cb20;
  --red: #dd2130;
}
.infoBox {
  flex: 1;
  cursor: pointer;
}

.infoBox:not(:last-child) {
  margin-right: 10px;
}

.infoBox--selected-black {
  border-top: 10px solid var(--black);
}

.infoBox--selected-red {
  border-top: 10px solid var(--red);
}

.infoBox--selected-green {
  border-top: 10px solid var(--green);
}

.infoBox--black {
  color:  var(--black);
}
.infoBox--green {
  color: var(--green);
}
.infoBox--red {
  color: var(--red);
}

.infoBox__cases {
  font-weight: 600;
  font-size: 2.2rem;
  padding: 8px 0 6px 0;
}

.infoBox__total {
  color: #6c757d;
  font-weight: 700 !important;
  font-size: 0.8rem !important;
  margin-top: 15px !important;
}
