.table {
  margin-top: 20px;
  overflow-y: scroll;
  height: 550px;
  color: #da3841; 
}
table {
  width: 100%;
  border-collapse: collapse;
}

.table th {
  font-size: 16px;  
}

.table table tr {
  display: flex;   
}

.table table td,th {
  padding: 0.3rem;
  text-align: start;
  flex: 1; 
}
.table table td {
  font-weight: 600;

  font-size: 14px;
}
.table table td img{
  height: 15px;
  width: 23px;
  padding-right: 3px;
}
table tr {  
  text-align: left;
  padding: 8px;
}

.table tr:nth-of-type(odd) {
  background-color: #fff6f6;
}
